.end {
    padding: 10px 0;
    background: #D3E2EF;
    &__title {
        text-align: center;
        color: #335E74;
        font-family: Open Sans;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
    }
}